/*mainfile for CSS styling for the user interface */

.label {
  display: block;
  margin-bottom: 5px;
}

.input-group {
  min-width: 360px;
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input,
.select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
